*{
    margin: 0;
    box-sizing: border-box;
    background-color:aqua;
}

.container{
    display: grid;
    height: 100dvh;
    justify-content: center;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(6,100px);
    grid-template-areas:
    "display display display display"
    "clear clear delete division"
    "seven eight  nine multiplication"
    "four five six substraction"
    "one two three addition"
    "zero zero zero equal";
    /* position: absolute;
    top: 337px;
    left: 767px; */
}
.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 40px;
    font-weight: 600;
}
div[type="button"]{
    cursor: pointer;
}
div[type="button"]:hover {
        background-color: #f1faee;
        transition: 0.3s;
}
#screen{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.division,.multiplication,.substraction,.addition,.equal{
    background-color: #df974c;
    color: #ffffff;
}
.clear,.delete,.seven,.eight,.nine,.four,.five,.six,.one,.two,.three,.zero{
    background-color: #d8d9db;
}
.dis{
    grid-area: display;
}
.cle{
    grid-area: clear;
}
.del {
    grid-area: delete;
}
.div {
    grid-area: division;
}
.sev{
    grid-area: seven;
}
.eig{
    grid-area: eight;
}
.nin{
    grid-area: nine;
}
.multi{
    grid-area: multiplication;
}
.fou{
    grid-area: four;
}
.fiv{
    grid-area: five;
}
.si{
    grid-area: six;
}
.sub{
    grid-area: substraction;
}
.on1{
    grid-area: one;
}
.t2{
    grid-area: two;
}
.t3{
    grid-area: three;
}
.add{
    grid-area: addition;
}
.zer{
    grid-area: zero;
}
.equ{
    grid-area: equal;
}

